<div mat-dialog-title>
    <h1 *ngIf="!data">{{"registerNewUser" | translate}}</h1>
    <h1 *ngIf="data">{{"updateUserRole" | translate}} ({{"currentRole" | translate}}: {{data.Role}})</h1>
    <h4><i style="color:#fff">{{"credentialsNote" | translate}}</i></h4>
</div>
<form [formGroup]="usersForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="row" *ngIf="!data">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input class="inputs" matInput formControlName="Name" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input class="inputs" matInput  formControlName="Username" />
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="!data">
            
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input class="inputs" matInput  formControlName="Email" />
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Select Role</mat-label>
                    <mat-select formControlName="RoleId">
                        <mat-option value="n/a" disabled>Select role</mat-option>
                        <mat-option [value]="role.RoleID" *ngFor="let role of roles">{{role.RoleName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button class="btn btn-light" type="button" [mat-dialog-close]="false">{{"cancel" | translate}}</button>
        <div class="h-divider"></div>
        <button *ngIf="!data" class="btn modal-botton" id="submit" type="submit" [disabled]="!usersForm.valid"><span class="fa fa-save"></span> {{"saveNewUser" | translate}}</button>
        <button *ngIf="data" class="btn modal-botton" id="submit" type="submit"><span class="fa fa-save"></span> {{"saveNewRole" | translate}}</button>
    </div>
</form>