<div class="pagination-wrapper">
  <div class="itemsPerPage">
    <!-- <label for="itemsPerPageSelect">Items per page: </label> -->
    <select id="itemsPerPageSelect" [(ngModel)]="selectedItemsPerPage" [value]="selectedItemsPerPage" (change)="onItemsPerPageChange()">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }} records </option>
    </select>
  </div>

  <div class="pagination-container">
    <div class="action" (click)="onFirstPage()">
      <span class="fa fa-angle-double-left icon"></span>     
    </div>
    <div class="action" (click)="onPreviousPage()">
      <span class="fa fa-angle-left icon"></span> 
    </div>
    <div class="action">
      {{ startItem }} - {{ endItem }} of {{ totalItems }}
    </div>
    <div class="action" (click)="onNextPage()">
      <span class="fa fa-angle-right icon"></span> 
    </div>
    <div class="action" (click)="onLastPage()">
      <span class="fa fa-angle-double-right icon"></span> 
    </div>
  </div>
</div>
