@import "/src/sass/modalbutton";
@import"/src/sass/variables";

/* To change the input caret color */


.mat-error{
    font-size: 18px;
    color: red;
    padding-top: 10px;
}

.hint{
    color:#fff;
    font-size: 15px;
    padding-top: 10px;
    cursor: pointer;
}

.btn-theme{
    background-color: $color-text-violet;
    color:$color-text-white;
    font-size: 18px;
}