<div mat-dialog-title>
    <h1>Reset Password</h1>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <div mat-dialog-content>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <mat-label>Temporary Password</mat-label>
              <input style="text-align:center; font-size: 30px;" class="inputs" matInput formControlName="NewTemporaryPassword" readonly/>
              <mat-icon matSuffix>lock</mat-icon>
              <mat-hint class="hint" (click)="copyPassword()">Click here to copy the password <span class="fa fa-copy"></span></mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="btn btn-light" type="button" [mat-dialog-close]="false">Cancel</button>
      <div class="h-divider"></div>
      <button class="btn btn-theme" id="submit" type="submit"><span
          class="fa fa-refresh"></span> Reset</button>
    </mat-dialog-actions>
  </form>