<div class="card-body">
  <div class="h-divider"></div>
  <div class="card-title">CHANNEL WALLETS</div>
  <table class="Table">
    <tbody>
      <tr class="green-row">
        <th>Client Channel Wallet</th>
        <th>Balance</th>
        <th colspan="2"></th>
      </tr>
      <tr class="yellow-row">
        <td >Gcash</td>
        <td>{{ 100000 | currency:'PHP' }}</td>
        <td colspan="2"></td>
      </tr>
      <tr class="green-row">
        <td >Maya Wallet</td>
        <td>{{ 200000 | currency:'PHP' }}</td>
        <td colspan="2"></td>
      </tr>
      <tr class="yellow-row">
        <td >Bank</td>
        <td>{{ 150000 | currency:'PHP' }}</td>
        <td colspan="2"></td>
      </tr>
      <tr class="green-row">
        <td>USDT</td>
        <td>{{ 250000 | currency:'PHP'}}</td>
        <td colspan="2"></td>
      </tr>
      <tr class="yellow-row">
        <td>Cash Pick Up</td>
        <td>{{ 350000 | currency:'PHP'}}</td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>
</div>
