<div class="card-wrapper">
  <div class="card-header d-flex flex-column flex-md-row justify-content-between">
      <div class="card-title">{{'dailyTransaction' | translate}}</div>
      <div class="card-actions">
          <form [formGroup]="dailyTransactionForm">
              <mat-form-field>
                <mat-label>StartDate - EndDate</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" formControlName="StartDate">
                  <input matEndDate placeholder="End date" formControlName="EndDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </form>
      </div>
  </div>
  <div class="card-body">
      <canvas style="width:100%;" baseChart height="390" 
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="false">
      </canvas>
  </div>
  <div class="card-footer">
       <div class="legend-container d-flex justify-content-center flex-wrap"> 
          <div *ngFor="let label of legendLabels; let i = index" class="legend-item">
              <div class="legend-label p-2" [style.color]="getLegendColor(i)">
                <i class="fa-solid fa-circle"></i> {{ label }}
              </div>
          </div>
      </div>
  </div>
</div>
