<div class="login-body">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-container">
          <div class="text-center">
            <img src="../../assets/dpay_logo.png" alt="Logo" class="logo mb-3" />
            <h2>New Password</h2>
            <p>Empowering Your Payment Experience</p>
            <h3 style="color:red">{{errorMessage}}</h3>
          </div>
          <form (ngSubmit)="onResetPassword(tempassword, newpassword, cpassword)" #loginForm="ngForm">
            <div class="form-group">
              <input type="password" class="form-control box" id="tempassword" [(ngModel)]="tempassword" name="tempassword" placeholder="Temporary Password" />
            </div>
            <div class="form-group mb-3">
                <input type="password" class="form-control box" id="newpassword" [(ngModel)]="newpassword"  name="newpassword" placeholder="New Password" />
                
              </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control box" id="cpassword" [(ngModel)]="cpassword" name="cpassword" placeholder="Confirm Password" />
            </div>
            <div class="form-group mb-3">
              <p>Password must be 8 characters long that contains 1 upper case letter, a character and number</p>
            </div>
            <!-- <div class="form-group">
                <div class="captcha-input-group">
                  <input type="text" id="captcha" class="form-control box" formControlName="captcha" placeholder="Enter CAPTCHA" />
                  <button type="button" class="btn captcha-button">Generate</button>
                </div>
              </div>     -->
            <button class="btn btn-block ">Reset Password</button>   
          </form>
        </div>
      </div>
    </div>