@import"/src/sass/variables";


.notif-title{
    font-size: 24px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $color-text-white;
    font-weight: bolder;
}

.notif-content{
    padding: 10px;
}
.notif-message{
    font-size: 20px;
}
.icon{
   font-size: 30px;
    color: $color-text-violet;
}
mat-icon{
height: auto;
width: auto;
padding-right: 15px;
}