<div class="card-wrapper">
    <div class="card-header">
        <div class="card-title p-3">{{"topUpTransaction" | translate}}</div>
        <div class="card-actions">
            <app-search (search)="onSearch($event)"></app-search>

            <div class="h-divider"></div>

            <div class="class="col-md-12 style="width: 150px; margin-top: -10px;">
                <app-select-search 
                    [options]="statusType" 
                    placeholder="Select Type"
                    [disabled]="!isReadAndWrite" 
                    [showSearch]="false"
                    (optionSelected)="onStatusType($event)">
                </app-select-search>
            </div>
            
            <div class="h-divider"></div>
            

            <form [formGroup]="TopUpForm">
                <mat-form-field>
                    <mat-label>StartDate - EndDate</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" formControlName="StartDate">
                        <input matEndDate placeholder="End date" formControlName="EndDate">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </form>
            <div class="h-divider"></div>

            <app-button [disabled]="!isReadAndWrite" [text]="'download' | translate" [icon]="'fa-download'" [btnClass]="'btn-theme btn-lg'"  (click)="onDownloadExcel()"></app-button>
        </div>
        
    </div>
    <div class="card-body-table">
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="container-with-table">
            <table *ngIf="!isLoading" class="dynastyTable" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> id </th>
                    <td *matCellDef="let row" mat-cell> {{ row.Id }} </td>
                </ng-container>
                <ng-container matColumnDef="clientName">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Client </th>
                    <td *matCellDef="let row" mat-cell> {{ row.ClientName }} </td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Amount </th>
                    <td *matCellDef="let row" mat-cell> {{ row.Amount | number : '1.2-2' }} </td>
                </ng-container>
                <ng-container matColumnDef="vendor">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Vendor </th>
                    <td *matCellDef="let row" mat-cell> {{ row.Vendor }} </td>
                </ng-container>
                <ng-container matColumnDef="transactionNo">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Transaction # </th>
                    <td *matCellDef="let row" mat-cell> {{ row.TransactionNo }} </td>
                </ng-container>
                <ng-container matColumnDef="referenceNo">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Reference # </th>
                    <td *matCellDef="let row" mat-cell> {{ row.ReferenceNo }} </td>
                </ng-container>
                <ng-container matColumnDef="createdDate">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Created Date </th>
                    <td *matCellDef="let row" mat-cell> {{ row.CreatedDate }} </td>
                </ng-container>
                <ng-container matColumnDef="completedDate">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header> Completed Date </th>
                    <td *matCellDef="let row" mat-cell> {{ row.CompletedDate }} </td>
                </ng-container>
                <ng-container matColumnDef="requestee">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Requestee</th>
                    <td *matCellDef="let row" mat-cell>{{ row.RequesteeName }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
                    <td *matCellDef="let row" mat-cell>
                        <span [ngStyle]="row.Status | statusColor">{{ row.Status }}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
                    <td *matCellDef="let row" mat-cell >{{ row.TypeDescription }}</td>
                </ng-container>
                <ng-container matColumnDef="remarks">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Remarks</th>
                    <td *matCellDef="let row" mat-cell >{{ row.Remarks }}</td>
                </ng-container>
                <ng-container matColumnDef="receipt">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Receipt</th>
                    <td *matCellDef="let row" mat-cell>
                      <div *ngIf="row.Type === 'TopUp'">
                        <div class="view-receipts" [matMenuTriggerFor]="receipts" #menuTrigger="matMenuTrigger" (click)="getReceipts(row.TransactionNo)">
                          <span class="fas fa-eye"></span> View
                        </div>
                        <mat-menu #receipts="matMenu" xPosition="before">
                          <ng-container *ngFor="let url of receiptUrls; let i = index">
                            <button [disabled]="!isReadAndWrite" mat-menu-item (click)="openReceipt(url)">
                              <mat-icon>receipt</mat-icon>
                              <span>Receipt {{ i + 1 }}</span>
                            </button>
                          </ng-container>
                        </mat-menu>
                      </div>
                    </td>
                  </ng-container>
                  
                  
                <ng-container matColumnDef="action">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                    <td *matCellDef="let row" mat-cell>
                        <button 
                        class="btn-theme-vert" 
                        mat-mini-fab 
                        [matMenuTriggerFor]="menu" 
                        *ngIf="row.Status != 'Completed' && row.Status != 'Disapprove'" 
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu" xPosition="before">
                        <ng-container *ngIf="row.Type == '4'">
                            <button mat-menu-item (click)="onUpdateManualTopUp(row, 2)">
                                <mat-icon>check</mat-icon>
                                <span>{{"Approve" | translate}} TopUp</span>
                            </button>
                            <button mat-menu-item (click)="onUpdateManualTopUp(row, 3)">
                                <mat-icon>highlight_off</mat-icon>
                                <span>{{"Decline" | translate}} TopUp</span>
                            </button>
                        </ng-container>
                            <ng-container *ngIf="row.Type == '5'">
                                <button mat-menu-item 
                                (click)="onApproveTransfer(row)">
                                <mat-icon>check</mat-icon>
                                <span>{{"approveTransfer" | translate}}</span>
                            </button>   
                            <button mat-menu-item 
                                (click)="onDeclineTransfer(row)">
                                <mat-icon>highlight_off</mat-icon>
                                <span>{{"declineTransfer" | translate}}</span>
                            </button>    
                            </ng-container>
                        </mat-menu>
                    </td>
                </ng-container>
        
                <tr *matHeaderRowDef="displayedColumns; sticky:true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="13" style="text-align: center;">No data matching the filter
                    </td>
                </tr>
            </table>
        </div>
        <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
            (firstData)="onFirstPage()" (nextData)="onNextPage()" (previousData)="onPreviousPage()"
            (lastData)="onLastPage()" (itemsPerPageChange)="onItemsPerPageChanged($event)">
        </app-pagination>
    </div>
</div>
<div class="card-footer"></div>


