@import "/src/sass/modalbutton";

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #ffdd30 !important;
    --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38) !important;
    --mat-tab-header-pagination-icon-color: #000;
    --mat-tab-header-inactive-label-text-color: rgb(255, 255, 255) !important;
    --mat-tab-header-active-label-text-color: #ffde48 !important;
    --mat-tab-header-active-ripple-color: #3f51b5 !important;
    --mat-tab-header-inactive-ripple-color: #3f51b5 !important;
    --mat-tab-header-inactive-focus-label-text-color: rgba(0, 0, 0, 0.6) !important;
    --mat-tab-header-inactive-hover-label-text-color: #ffde48 !important;
    --mat-tab-header-active-focus-label-text-color: #ffde48 !important;
    --mat-tab-header-active-hover-label-text-color: #ffde48 !important;
    --mat-tab-header-active-focus-indicator-color: #ffde48 !important;
    --mat-tab-header-active-hover-indicator-color: #ffde48 !important;
}

.btn-theme-vert{
    background-color: $color-text-violet;
}