<app-maintenance-message>
<div class="row">
    <div *ngFor="let data of topData" class="col-sm">
        <app-card 
            [isVisible]="false"
            [isVisiblebtn]="true"
            label="{{data.label | translate}}"
            icon="{{data.icon}}"
            value="{{data.value}}">
        </app-card>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8">
        <app-income-statement></app-income-statement>
    </div>
    <div class="col-12 col-lg-4">
        <app-daily-transaction></app-daily-transaction>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-lg-12">
        <app-clients-summary></app-clients-summary>
    </div>
</div>
<div class="row-container">
    <div class="col-lg-12 col-lg-12">
        <app-total-income></app-total-income>
    </div>
</div>
</app-maintenance-message>


