<div class="col-md-9" *ngIf="!isAdmin">
    <div class="row">
        <div *ngFor="let data of topData" style="margin-top: -20px;" class="col-md-6">
            <app-card [isVisible]="false" id="wallets" style="background-color: transparent;" label="{{data.label}}"
                icon="fa fa-wallet" value="{{data.value  | number: '1.2-2' }}"></app-card>
        </div>
    </div>
</div>
<div class="row1">
    <div class="col-lg-12">
        <div class="card-wrapper">
            <div class="card-header">
                <div class="card-title p-3">{{"listOfBrands" | translate}}</div>
                <div class="card-actions">
                    <app-search></app-search>
                    <div class="h-divider"></div>
                    <app-button *ngIf="isAdmin" [text]="'addNewClient' | translate" [icon]="'fa-plus'" [btnClass]="'btn-theme btn-lg'" (click)="addClient()"></app-button>
                </div>
            </div>
            <div class="card-body-table">
                <app-spinner *ngIf="isLoading"></app-spinner>
                <div class="container-with-table">
                    <table *ngIf="!isLoading" class="dynastyTable" mat-table [dataSource]="dataSource" matSort>
                        <!-- Table Columns Definition Here -->
                        <ng-container matColumnDef="clientId">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> ClientId</th>
                            <td *matCellDef="let row" mat-cell> {{ row.ClientId }} </td>
                        </ng-container>
                        <ng-container matColumnDef="clientName">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Client </th>
                            <td *matCellDef="let row" mat-cell> {{ row.ClientName }} </td>
                        </ng-container>
                        <ng-container matColumnDef="dateAdded">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Date Added </th>
                            <td *matCellDef="let row" mat-cell> {{ row.DateAdded }} </td>
                        </ng-container>
                        <ng-container matColumnDef="walletBalance">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Wallet Balance </th>
                            <td *matCellDef="let row" mat-cell> {{ row.WalletBalance | number:'1.2-2' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="ciCom">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> CI% Comms </th>
                            <td *matCellDef="let row" mat-cell> {{ row.CiCommission  }}% </td>
                        </ng-container>
                        <ng-container matColumnDef="ciCount">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> CI Count </th>
                            <td *matCellDef="let row" mat-cell> {{ row.CiCount | number:'1.0-0' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalCi">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Total CI </th>
                            <td *matCellDef="let row" mat-cell> {{ row.CiTotal }} </td>
                        </ng-container>
                        <ng-container matColumnDef="coCom">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> CO% Comms </th>
                            <td *matCellDef="let row" mat-cell> {{ row.CoCommission }}%</td>
                        </ng-container>
                        <ng-container matColumnDef="coCount">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> CO Count </th>
                            <td *matCellDef="let row" mat-cell> {{ row.CoCount | number:'1.0-0' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalCo">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Total CO </th>
                            <td *matCellDef="let row" mat-cell> {{ row.CoTotal}} </td>
                        </ng-container>
                        <ng-container matColumnDef="totalComm">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Total Comms </th>
                            <td *matCellDef="let row" mat-cell> {{ row.TotalCommission | number: '1.2-2' }} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Status</th>
                            <td *matCellDef="let row" mat-cell>
                                <span [ngStyle]="row.Status | statusColor">{{ row.Status }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header>Action</th>
                            <td *matCellDef="let row" mat-cell>
                                <ng-container>
                                    <button 
                                        class="btn-theme-vert" 
                                        mat-mini-fab 
                                        [matMenuTriggerFor]="menu" 
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="before">
                                        <button mat-menu-item (click)="configure(row)">
                                            <span class="fas fa-eye"></span>
                                            <span> {{"configure" | translate}}</span>
                                        </button>
                                    </mat-menu>
                                </ng-container>
                            </td>
                        </ng-container>

                        <tr *matHeaderRowDef="displayedColumns; sticky:true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="13" style="text-align: center;">No data matching the filter
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>