<app-maintenance-message>
  <!-- <app-table-tab></app-table-tab> -->
  
  <div class="card-wrapper">
    <div class="card-header">
      <div class="card-title p-3">{{"listOfPaymentChannel" | translate}}</div>
      <div class="card-actions">
        <div style="width: 250px;">
          <app-search (search)="onSearch($event)"></app-search>
      </div>
      
        <div class="h-divider"></div>

        <div class="col-md-12" style="width: 250px">
          <app-select-search 
              [options]="clientsList" 
              placeholder="Select Client" 
              [disabled]="!isReadAndWrite"
              [showSearch]="true"
              (optionSelected)="onSelectClient($event)">
          </app-select-search>
        </div>

        <div class="h-divider"></div>
        <app-button [text]="'addMerchant' | translate" [icon]="'fa-plus'" [btnClass]="'btn-theme btn-lg'"
          (click)="openForm()" [disabled]="!isReadAndWrite"></app-button>
      </div>
    </div>

    <div class="card-body-table">
      <app-spinner *ngIf="isLoading"></app-spinner>
      <div class="container-with-table" >
            <table *ngIf="!isLoading" class="dynastyTable" mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
              </ng-container>

              <ng-container matColumnDef="Merchant">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Merchant </th>
                <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
              </ng-container>

              <ng-container matColumnDef="TotalCashIn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalCashIn </th>
                <td mat-cell *matCellDef="let row"> {{row.TotalCashIn | number : '1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="TotalCashOut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalCashOut </th>
                <td mat-cell *matCellDef="let row"> {{row.TotalCashOut | number : '1.2-2'}} </td>
              </ng-container>
              <ng-container matColumnDef="Balance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Balance </th>
                <td mat-cell *matCellDef="let row"> {{row.Balance | number : '1.2-2'}} </td>
              </ng-container>
              <!--Status table-->
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                <td mat-cell *matCellDef="let row"> {{row.Status}} </td>
              </ng-container>
              <ng-container matColumnDef="VendorId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor </th>
                <td mat-cell *matCellDef="let row"> {{row.VendorName}} </td>
              </ng-container>
              <ng-container matColumnDef="ClientId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client </th>
                <td mat-cell *matCellDef="let row"> {{row.ClientName}} </td>
              </ng-container>
              <ng-container matColumnDef="PaymentChannelId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Channel </th>
                <td mat-cell *matCellDef="let row"> {{row.PaymentChannelName}} </td>
              </ng-container>
              <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions </th>
                <td mat-cell *matCellDef="let row">
                  <button class="btn-theme-vert" mat-mini-fab
                  [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="openEditForm(row)" [disabled]="!isReadAndWrite">
                      <mat-icon>edit</mat-icon>
                      <span>{{"edit" | translate}}</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="10">No data matching the filter</td>
        </tr>
      </table>
    </div>
    <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (firstData)="onFirstPage()" (nextData)="onNextPage()" (previousData)="onPreviousPage()"
    (lastData)="onLastPage()" (itemsPerPageChange)="onItemsPerPageChanged($event)">
    </app-pagination>
    </div>

    <div class="card-footer"></div>
  </div>
</app-maintenance-message>