@import "/src/sass/modalbutton";
@import "/src/sass/scrollbar";


.my-dropdown {
  
    color: white;
  
    label {
      color: white;
      width: 100%;
      font-weight: 500;
    }
  
    select {
      background-color: #313131;
      color: white;
      border: none;
      
    }
    
   
  }


.btn-theme{
    background-color: $color-text-yellow;
    height: 56px;
    color: white;
}

.btn-theme-vert{
    background-color: $color-text-yellow;
}

.col-md-12 {
  margin-top: -10px;
  width: 220px;
}

