<app-maintenance-message>

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="card-wrapper">
				<div class="card-header">
					<div class="card-title p-3">
						{{"requestForRemittance" | translate}}
						<p style="color:white; padding-left: 3px;"><i>{{"pleaseAnticipateWaitingPeriod" | translate}}</i></p>
					</div>
				</div>
				<div class="body-header">
					<div class="co-card-title p-3">
						<ng-container *ngFor="let item of headerTop">
							<div 
								(click)="changeActiveHeader(item)"
								[ngClass]="item.isActive ? 'header-active' : 'header-inactive'">
								{{item.label | translate}}
							</div>
						</ng-container>
					</div>
				</div>
				<div class="card-body">
					<div class="max-height">
						<ng-container *ngIf="isRemittances; else cashPickUpTemplate">
							<form [formGroup]="requestForm" (ngSubmit)="onRequestRemittance()">
								<!-- <mat-form-field class="example-full-width">
									<mat-label>Select Method</mat-label>
									<mat-select formControlName="Method" (selectionChange)="onSelectChange($event)">
										<mat-option [disabled]="!isReadAndWrite" *ngFor="let method of transferMethod"
											[value]="method.id">{{method.name}}</mat-option>
									</mat-select>
								</mat-form-field> -->
								<div class="example-full-width" style="margin-bottom: 5px">
									<app-select-search 
										[options]="transferMethod" 
										placeholder="Select Method" 
										[disabled]="!isReadAndWrite"
										[showSearch]="false"
										(optionSelected)="onSelectChange($event)">
									</app-select-search>
								</div>
								<!-- <mat-form-field class="example-full-width">
									<mat-label>Select Card</mat-label>
									<mat-select formControlName="IdCardDestination">
										<mat-option [disabled]="!isReadAndWrite" *ngFor="let destination of listOfDestination"
											[value]="destination.id">{{destination.name}}</mat-option>
									</mat-select>
								</mat-form-field> -->
								<div class="example-full-width" style="margin-bottom: 15px">
									<app-select-search 
										[options]="listOfDestination" 
										placeholder="Select Card" 
										[showErrorMessage]="true"
										[disabled]="!isReadAndWrite"
										[showSearch]="false"
										(optionSelected)="onSelectIdDestination($event)">
									</app-select-search>
								</div>
			
								<app-input-text-field
									[formGroup]="requestForm"
									controlName="Amount"
									type="text"
									placeholder="Amount"
									appNumberFormat
									[isInvalid]="requestForm.controls['Amount'].invalid && requestForm.controls['Amount'].touched || isInsufficient"
									errorMessage="{{amountErrorMessage}}"
								></app-input-text-field>
			
								<app-input-text-field
									[formGroup]="requestForm"
									controlName="WithdrawalFee"
									type="text"
									placeholder="Remittance Fee per transaction"
									[readonly]="true"
									appNumberFormat
								></app-input-text-field>
			
								<app-input-text-field
									[formGroup]="requestForm"
									controlName="Remarks"
									type="text"
									placeholder="Remarks"
								></app-input-text-field>
			
								<div class="form-box mb-5 d-flex justify-content-center align-items-center">
									<button class="btn btn-primary btnreq" type="submit" [disabled]="!isReadAndWrite" [disabled]="actionDisable">{{"requestRemittance" | translate}}</button>
								</div>
							</form>
						</ng-container>
						<ng-template #cashPickUpTemplate>
							<form [formGroup]="cashPickUpForm" (ngSubmit)="onSubmitcashPickup()">                       
								<div class="scrollable-container">
									<!-- <mat-form-field class="example-full-width">
										<mat-label>Method</mat-label>
										<mat-select formControlName="Method" [disabled]="true">
										  <mat-option [disabled]="!isReadAndWrite" *ngFor="let method of cashPickupMethod" [value]="method.id">
											{{ method.name }}
										  </mat-option>
										</mat-select>
									  </mat-form-field> -->

									  <div class="example-full-width" style="margin-bottom: 5px">
										<app-select-search 
										  [options]="cashPickupMethod" 
										  placeholder="Select Method" 
										  [disabled]="!isReadAndWrite"
										  [showSearch]="false"
										  [preselectedOption]="selectedCashPickUpMethod">
									  </app-select-search>
								  </div>
		
									<!-- <mat-form-field class="example-full-width">
										<mat-label>ID Type</mat-label>
										<mat-select formControlName="CardIDType">
											<mat-option [disabled]="!isReadAndWrite" *ngFor="let method of IdType " [value]="method.Id">
												{{method.Name}}
											</mat-option>
										</mat-select>
									</mat-form-field> -->

									<div class="example-full-width" style="margin-bottom: 16px">
										<app-select-search 
											[options]="cardPhilIds" 
											placeholder="Select Card" 
											[disabled]="!isReadAndWrite"
											[showSearch]="false"
											(optionSelected)="onClientPhilId($event)">
										</app-select-search>
									</div>
		
									<app-input-text-field
										[formGroup]="cashPickUpForm"
										controlName="AuthorizedPerson"
										type="text"
										placeholder="Name of Authorized Person"
										[isInvalid]="cashPickUpForm.controls['AuthorizedPerson'].invalid && cashPickUpForm.controls['AuthorizedPerson'].touched"
										errorMessage="This field is required">
									</app-input-text-field>
		
									<div class="input-group mb-3">
										<input type="file" #fileInputId accept="image/*" multiple
										(change)="onFilesSelectedId($event)" style="display: none;">
										<input type="text" class="form-control inputUpload" placeholder="Upload ID"
										[value]="fileNamesId.join(', ')" readonly>
										<div class="input-group-append">
										<button class="btn btnUpload" type="button" (click)="triggerUploadId()">Upload</button>
										</div>
									</div>
									
									<app-input-text-field
										[formGroup]="cashPickUpForm"
										controlName="IdNumber"
										type="text"
										placeholder="ID Number"
										[isInvalid]="cashPickUpForm.controls['IdNumber'].invalid && cashPickUpForm.controls['IdNumber'].touched"
										errorMessage="This field is required">
									</app-input-text-field>
									
									<div class="input-group mb-3">
										<input type="file" #fileInputLetter accept="image/*" multiple
										(change)="onFilesSelectedLetter($event)" style="display: none;">
										<input type="text" class="form-control inputUpload" placeholder="Upload Authorization Letter"
										[value]="fileNamesLetter.join(', ')" readonly>
										<div class="input-group-append">
										<button class="btn btnUpload" type="button" (click)="triggerUploadLetter()">Upload</button>
										</div>
									</div>
		
									<app-input-text-field
									[formGroup]="cashPickUpForm"
									controlName="Amount"
									type="text"
									placeholder="Amount"
									appNumberFormat
									[isInvalid]="cashPickUpForm.controls['Amount'].invalid && cashPickUpForm.controls['Amount'].touched"
									errorMessage="This field is required">
								</app-input-text-field>
		
								<app-input-text-field
									[formGroup]="cashPickUpForm"
									controlName="WithdrawalFee"
									type="text"
									placeholder="Remittance Fee per transaction"
									[readonly]="true"
									appNumberFormat>
								</app-input-text-field>
							
									<app-input-text-field
										[formGroup]="cashPickUpForm"
										controlName="Remarks"
										type="text"
										placeholder="Remarks">
									</app-input-text-field>.
								</div>
									<div class="form-box mb-5 d-flex justify-content-center align-items-center">
										<button class="btn btn-primary btnreq" type="submit" [disabled]="!isReadAndWrite" [disabled]="actionDisable"> {{"requestRemittance" | translate}} </button>
									</div>
							</form>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div *ngFor="let data of topData" style="margin-top: -20px;" class="col-md-6">
					<app-card [isVisible]="false" id="wallets" style="background-color: transparent;" label="{{data.label | translate}}"
						icon="fa fa-wallet" value="{{data.value}}"></app-card>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class ="card-wrapper">
						<div class="card-header">
							<div class="card-title p-3">{{"listofWallets" | translate}}</div>
							<div class="card-actions">
								<!-- <app-button 
								[disabled]="!isReadAndWrite"
								[text]="'Transfer History'" 
								[icon]="'fa-solid fa-clock-rotate-left'" [btnClass]="'btn-theme btn-lg'"
								></app-button> -->
							</div>
						</div>
						<div class="row">
							<div *ngFor="let data of MerchantCard" class="col-md-6">
							  <app-wallet-card 
								[isVisible]="true"  
								[isVisiblebtn]="true"  
								[label]="data.label"
								[icon]="data.icon"
								[value]="data.value"
								[channelId]="data.channelId" 
								[clientId]="data.clientId">
							  </app-wallet-card>
							</div>
						  </div>
					</div>
					
				</div>
			</div>
		</div>
		<section class="remittance">
			<!-- <app-client-remittance-transactions [data] = "isRemittanceChanged"></app-client-remittance-transactions> -->
			 <app-remittance-table [data] = "isRemittanceChanged" [isAdmin]="false" [remittanceStatus] = "0" [title]="'remittanceTransactions' | translate"></app-remittance-table>
		</section>
	</div>
</app-maintenance-message>